.header{
    background-color:#E7E4E5;
    margin-bottom:10px;
    font-size:25px;
    padding: 10px;
        
}
area{
    width:100%;
    color:black;
    
}
.btn{
    margin-top:10px;
    color:white;
    background-color: #1DA1F2;
}
.agregar{
    margin:10px;
}
.list{
    background-color:rgba(29, 161, 242, 0.31);
}
.list:hover{
    background-color: rgba(37,159,153,0.5);
}
i:hover{
    font-size: 20px;
}
.tacho{
    font-size: 60px;
    position: absolute;
    right: 5px;
    color: #000;
   
}
